.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  color: #fff;
}

.points-counter {
  font-size: calc(60px + 2vmin);
}

.points-counter {
  font-size: calc(60px + 2vmin);
}

.active {
  color: #61dafb;
}

.player-name {
  font-size: calc(40px + 2vmin);
}

.score-block {
  margin-bottom: 20px;
}

.row {
  text-align: center;
}

.inc-btn {
  margin-right: 50px;
  margin-left: 10px;
  width: 100px;
}

.dec-btn {
  margin: 20px;
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
